@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap");
/********************************GENERIC PAGE STYLES********************************/
/* reset rule and other generic page styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 7% 0 0 2%;
}
main b {
  color: #3943B7;
  cursor: pointer;
}
main h1, main h3 {
  color: #150578;
}

main h1, h3 {
  text-align: center;
}

body {
  background-color: #EEEAEA;
}

/* centered text on top of image */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexbox {
  display: flex;
}

/* fixed header with blended opaque gradient background that contains a "logo" and navbar */
header {
  background-color: #0E0E52;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  background-blend-mode: screen;
  opacity: 0.95;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 1;
  /* styles for "logo" in header */
  /* styles for navbar */
}
header .logo {
  color: white;
  text-shadow: 0 0 0.1em white, 0 0 0.2em white, 0px 0px 0.3em white, 0px 0px 0.4em #77f, 0px 0px 0.6em #00f, 0px 0px 0.8em #0ff, 0px 0px 1em #00f, 0px 0px 1.2em white;
  font-size: x-large;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 50px;
}
header .nav-container {
  justify-content: space-between;
  align-items: center;
}
header .nav-container a, header .nav-container a:visited, header .nav-container a:focus {
  color: white;
  text-decoration: none;
}
header .nav-container .navigation {
  list-style: none;
  /* styles for links in header */
}
header .nav-container .navigation a, header .nav-container .navigation a:visited {
  margin-right: 75px;
}
header .nav-container .navigation a:hover, header .nav-container .navigation a:visited:hover {
  color: #150578;
}

/* fixed scroll to top button that is hidden by default */
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* avoid overlapping */
  border: none;
  outline: none;
  background-color: #00d4ff;
  opacity: 0.5;
  transition: 0.6s ease;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: xx-large;
}
#btnScrollToTop:hover {
  background-color: darkgrey;
}

/* styles for footer at bottom of page */
footer {
  align-items: flex-end;
  justify-content: center;
  grid-gap: 10px;
  padding: 20px;
  /* images links for linkedin, cv, etc. */
}
footer #about-image-links {
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
footer #about-image-links img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
footer #about-image-links #cv-link {
  position: relative;
}

/********************************SKILLS GRID STYLES********************************/
/* arranging images in rows/columns */
#skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* new row if more than 3 images */
  margin-top: 10px;
  grid-gap: 50px;
  font-size: 5vw;
  align-items: center;
  justify-items: center;
  /* styles for each image in skill grid */
}
#skills i {
  height: auto;
  line-height: 60%;
}
#skills i:hover {
  cursor: pointer;
  color: #00d4ff;
}

/***************POSITIONING AND ALIGNING FLEXBOX ROWS/COLUMNS*******************/
.flex-body {
  justify-content: center;
  align-items: flex-start;
  grid-gap: 50px;
  flex-wrap: wrap;
}
.flex-body .flex-column {
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 10px;
  /* amend this value */
}
.flex-body .flex-column section {
  width: 45vw;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-body .flex-column section ul {
  list-style-position: inside;
}
.flex-body .flex-column section h3 {
  margin-bottom: 10px;
}

/* profile picture in the about section */
#profile-picture {
  width: 30vw;
  height: auto;
}

/***************PROJECT SLIDESHOW STYLES*******************/
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

/* Hide the images by default and set size/align center */
.mySlides {
  display: none;
  /* Caption text */
}
.mySlides a:any-link {
  text-decoration: none;
}
.mySlides img {
  width: 60vw;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.mySlides .project-caption-bar, .mySlides .text {
  width: 60vw;
}
.mySlides .text {
  font-size: 15px;
  margin: 0 auto;
  /* Next & previous buttons */
}
.mySlides .text .project-caption-bar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #474343;
  border-radius: 0 0 10px 10px;
}
.mySlides .text .project-caption-bar a:any-link {
  color: white;
  font-size: large;
  font-weight: bold;
}
.mySlides .text .prev, .mySlides .text .next {
  cursor: pointer;
  padding: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 3vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #00d4ff;
  opacity: 0.5;
}
.mySlides .text .prev:hover, .mySlides .text .next:hover {
  color: lightgray;
}
.mySlides .text .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.mySlides .text .project-description, .mySlides .text .project-links {
  margin-top: 10px;
}
.mySlides .text input[type=button] {
  padding: 10px;
}
.mySlides .text input[type=button]:hover {
  cursor: pointer;
  background-color: #00d4ff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* fade effect/animation when opening and closing lightbox */
#lightbox-fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: 0.7;
}

.lightbox-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* styles for project demo video popup */
#lightbox {
  display: none;
  position: relative;
  z-index: 1002;
  overflow: hidden;
  /* styles for close video button in lightbox */
}
#lightbox video {
  width: 70vw;
  height: auto;
}
#lightboxClose {
  float: right;
  cursor: pointer;
  color: white;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}
#lightboxClose:hover {
  color: red;
}

#lightbox-fade:hover ~ #lightboxClose {
  display: none;
}

.lightboxClose:before {
  content: "×";
}

/***************ADDITIONAL STYLES FOR RESPONSIVE DESIGN*******************/
@media all and (max-width: 960px) {
  main {
    margin: 10% 0 0 2%;
  }

  .flex-body {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .flex-body .flex-column #skills {
    font-size: 10vw;
  }
  .flex-body .flex-column section {
    width: 80vw;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }

  #profile-picture {
    width: 50vw;
  }
}
@media all and (max-width: 700px) {
  main {
    margin-top: 12%;
  }

  .mySlides {
    display: none;
  }
  .mySlides a:any-link {
    text-decoration: none;
  }
  .mySlides img {
    width: 80vw;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .mySlides .project-caption-bar, .mySlides .text {
    width: 80vw;
  }
}
@media all and (max-width: 600px) {
  main {
    margin-top: 20%;
  }
}
/* hide navbar and make logo cover entire body width, 
change number of rows/columns in skills grid  */
@media all and (max-width: 500px) {
  .flex-body .flex-column #skills {
    grid-template-columns: repeat(2, 1fr);
    font-size: 12vw;
  }

  header .navigation {
    display: none;
  }
  header .logo {
    width: 100vw;
    font-size: xx-large;
    text-align: center;
  }
}
@media all and (max-width: 400px) {
  main {
    margin-top: 30%;
  }

  #btnScrollToTop {
    bottom: 70px;
  }

  #profile-picture {
    width: 60vw;
  }
}
@media all and (max-width: 360px) {
  main {
    margin-top: 30%;
  }

  .flex-body .flex-column #skills {
    font-size: 15vw;
  }
}
@media all and (max-width: 190px) {
  main {
    margin-top: 50%;
  }
}