@import "variables";

/***************PROJECT SLIDESHOW STYLES*******************/

/* Slideshow container */
.slideshow-container {
    // max-width: 900px;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

  /* Hide the images by default and set size/align center */
.project-slides {
    display: none;

    a:any-link {text-decoration: none;}

    video {    
        width: 60vw;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    .project-slides__caption-bar, .text {width: 60vw;}
    
    /* Caption text */
    .text {
        font-size: 15px;
        margin: 0 auto;    

        .project-slides__caption-bar {
            color: white; 
            font-weight: bold;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            background-color: rgb(71, 67, 67);
            border-radius: 0 0 10px 10px;

            a:any-link {
                color: white;
                font-size: large;
                font-weight: bold;
            }
        }
        
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            padding: 10px;
            align-items: center;
            font-weight: bold;
            font-size: 3vw;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            color: $secondary-blue;
            opacity: 0.5;

            &:hover {color: lightgray;}
        }
        .next {right: 0; border-radius: 3px 0 0 3px;}

        .project-slides__description, .project-slides__links {margin-top: 10px;}

        input[type='button'] {
            background-color: $secondary-blue;
            padding: 10px;
            border-radius: 10px;

            &:hover {
                cursor: pointer; 
                background-color: lightgray;
            }
        }
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}